node_modules/
npm-debug.log*

*.log
*.tmp

.DS_Store
Thumbs.db

ui_automation/playwright-report/

api_automation/collections/environment*.json

api_automation/reports/

.vscode/
.idea/


.env
.env.local
.env.*.local
